<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="wrapper" v-cloak>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li v-bind:class="{active: step1=='tasklist'}"><a href="#" @click="stepTaskList">任务列表 <span class="sr-only">(current)</span></a></li>
              <li v-bind:class="{active: step1=='newtask'}"><a href="#" @click="stepNewTask">新建任务</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="">Nav item</a></li>
              <li><a href="">Nav item again</a></li>
              <li><a href="">One more nav</a></li>
              <li><a href="">Another nav item</a></li>
            </ul>
          </div>

          <div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" v-if="step1=='tasklist'">
              <div class="panel panel-primary">
                <div class="panel-heading">任务列表</div>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>活动</th>
                      <th>任务票数</th>
                      <th>当前票数</th>
                      <th>进度</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(task, index) in tasks">
                      <td>{{index+1}}</td>
                      <td>{{task.title}}</td>
                      <td>{{task.votes}}</td>
                      <td>{{task.curvotes}}</td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" style="color: #000000;" v-bind:style="{width: task.curvotes*100/task.votes+'%'}">{{task.curvotes*100/task.votes}}%</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- newtask -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" v-if="step1=='newtask'">
              <div v-if="step=='parseurl'" class="input-group">
                <span class="input-group-addon">xx地址：</span>
                <input type="text" class="form-control" v-model="url">
              </div>

              <div v-if="step=='selectvote'">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon">xx名称</span>
                      <input type="text" class="form-control" placeholder="xx名称" v-model="voteinfo.title" readonly>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon">截止时间</span>
                      <input type="text" class="form-control" placeholder="Username" v-model="expireTime" readonly>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon">xx人数</span>
                      <input type="text" class="form-control" placeholder="Username" v-model="voteinfo.total_person" readonly>
                    </div>
                  </div>
                </div>
                <br>

                <div v-for="subject in voteinfo.vote_subject">
                  <div class="panel panel-primary">
                    <div class="panel-heading">{{subject.title}}</div>
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th>选择</th>
                          <th>序号</th>
                          <th>选手名称</th>
                          <th>票数</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(option, index) in subject.options">
                          <td>
                            <input type="radio" v-bind:name="subject.vote_id" v-bind:value="index" v-model="subject.item_idx" v-if="subject.type==1&&!isExpired">
                            <input type="radio" v-bind:name="subject.vote_id" v-bind:value="index" disabled="disabled" v-model="subject.item_idx" v-if="subject.type==1&&isExpired">
                            <input type="checkbox" v-bind:name="subject.vote_id" v-bind:value="index" v-model="option.selected" v-if="subject.type==2&&!isExpired">
                            <input type="checkbox" v-bind:name="subject.vote_id" v-bind:value="index" disabled="disabled"  v-model="option.selected" v-if="subject.type==2&&isExpired">
                          </td>
                          <td>{{index}}</td>
                          <td>{{option.name}}</td>
                          <td>{{option.cnt}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="step=='submittask'">
                <div>
                  <div class="input-group">
                    <span class="input-group-addon">任务名称：</span>
                    <input type="text" class="form-control" v-model="voteinfo.title" readonly>
                  </div>
                  <br>
                  <div class="panel panel-primary" v-for="(subject, index) in voteitem.super_vote_item">
                    <div class="panel-heading">{{voteinfo.vote_subject[index].title}}</div>
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <!-- <th>选择</th> -->
                          <th>序号</th>
                          <th>选手名称</th>
                          <th>当前票数</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(option, optionindex) in subject.item_idx_list.item_idx">
                          <td>{{option}}</td>
                          <td>{{voteinfo.vote_subject[index].options[option].name}}</td>
                          <td>{{voteinfo.vote_subject[index].options[option].cnt}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">任务单价：</span>
                    <input type="text" class="form-control" v-model.number="task.price" type="number" readonly>
                    <span class="input-group-addon">元</span>
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon">截止时间：</span>
                    <input type="text" class="form-control" v-model="expireTime" readonly>
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon">投票总数：</span>
                    <input type="text" class="form-control" v-model.number="task.votes" type="number">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon">投票速度：</span>
                    <input type="text" class="form-control" v-model.number="task.votespermin" type="number">
                    <span class="input-group-addon">票/分钟</span>
                  </div>
                </div>
              </div>

              
              <div class="col-sm-offset-11" v-if="step!='success'">
                <br>
                <button type="button btn-primary" class="form-control" disabled v-if="step=='selectvote'&&isExpired" @click="next">下一步</button>
                <button type="button btn-primary" class="form-control" v-else @click="next">下一步</button>
              </div>

              <!-- TODO -->
              <div class="alert alert-info" v-if="step=='success'">
                您已成功下发任务，点击<a href="#" class="alert-link" @click="stepTaskList">这里查看任务</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./vendor/vuejs/vue.js"></script>
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../assets/js/vendor/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <script type="text/javascript">
      var voteInfo = null;
      $(function() {
        Date.prototype.Format = function (fmt) { //author: meizz 
            var o = {
                "M+": this.getMonth() + 1, //月份 
                "d+": this.getDate(), //日 
                "h+": this.getHours(), //小时 
                "m+": this.getMinutes(), //分 
                "s+": this.getSeconds(), //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds() //毫秒 
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };

        // window.data = {voteinfo: voteInfo};
        vm = new Vue({
          el: '#wrapper',
          data: {
            step1: 'tasklist', // 当前第一级步骤：tasklist任务列表，newtask新建任务
            tasks: [],

            step: 'parseurl', // 当前第二级步骤：parseurl、submititem、submittask
            url: 'http://mp.weixin.qq.com/s/WEBkpBjBdOAIXxu9fknV9w', // 方便调试
            voteinfo: voteInfo, // 投票信息，最初是null
            voteitem: null, // 投票对象
            task: {}, // 主备下发的任务
          },
          computed: {
            expireTime: function() {
              var d = new Date();
              d.setTime(this.voteinfo.expire_time*1000);
              var expiredDesc = this.isExpired ? ' [活动已结束]' : '';
              return d.Format('yyyy-MM-dd hh:mm') + expiredDesc;
            },
            isExpired: function() {
              console.log('isExpired:');
              if (this.voteinfo == null) {
                return false;
              }
              var expire_time = this.voteinfo.expire_time ? this.voteinfo.expire_time*1000 : 0;
              return (expire_time - (+new Date()))>0 ? 0 : 1;
            }
          },
          watch: {
            // selected: function() {},
          },
          methods: {
            checklogin: function(data) {
              if (typeof data === 'object' && data.ret === 403) {
                window.location = '/login.html';
              }
            },
            // step1
            stepTaskList: function() {
              $.getJSON('/api/tasks', function(data, status) {
                console.log('/api/tasks:')
                vm.checklogin(data);
                vm.step1 = 'tasklist';
                vm.$set(vm, 'tasks', data);
              });
            },
            stepNewTask: function() {
              this.step1 = 'newtask';
              this.step = 'parseurl';
            },

            // step2
            next: function() {
              console.log('step: ' + this.step);
              this[this.step]();
            },
            parseurl: function() {
              console.log('parseurl:' + this.url);
              var url = '/api/parseurl?url='+encodeURIComponent(this.url);
              var vm = this;
              // var url = 'voteInfo2.json';
              $.getJSON(url, function(data, status) {
                console.log('voteinfo='+JSON.stringify(data));
                vm.checklogin(data);
                vm.$set(vm,'voteinfo', data);
                vm.step = 'selectvote';
                // Vue.set(vm.data, 'voteinfo', 2)
              });
            },
            selectvote: function() {
              console.log('selectvote:'/*+JSON.stringify(this.voteinfo)*/);
              // {"super_vote_item":[{"vote_id":684888407,"item_idx_list":{"item_idx":["0"]}}],"super_vote_id":684888406}
              var super_vote_item = [];
              for (var i = 0; i < this.voteinfo.vote_subject.length; i++) {
                var vote_subject = this.voteinfo.vote_subject[i];

                var item_idx = [];
                if (vote_subject.type == 1) { // 单选
                  item_idx.push(''+vote_subject.item_idx);
                } else if (vote_subject.type == 2) {
                  // TODO vuejs如何认为多个checkbox是一组？
                  for (var index in vote_subject.options) {
                    var option = vote_subject.options[index];
                    if (option.selected) {
                      item_idx.push(''+index);
                    }
                  }
                }
                console.log('item_idx: ' + item_idx);

                super_vote_item.push({vote_id: vote_subject.vote_id, item_idx_list: {item_idx: item_idx}});
              }
              var voteItem = {
                super_vote_id: this.voteinfo.super_vote_id,
                super_vote_item: super_vote_item
              };

              var vm = this;
              vm.$set(vm, 'voteitem', voteItem)
              var voteItemStr = JSON.stringify(voteItem);
              console.log('voteItemStr: ' + voteItemStr);

              var url = '/api/submititem?item='+voteItemStr;
              console.log('url: ' + url);
              $.getJSON(url, function(data, status) {
                console.log('/api/submititem:');
                vm.checklogin(data);
                // console.log('/api/submittask: data=' + JSON.stringify(data) + ',status=' + status);
                vm.$set(vm, 'task', {
                  price: 0.07,
                  votes: 1,
                  votespermin: 1,
                });
                vm.step = 'submittask';
              });
            },
            submittask: function() {
              console.log('submittask:');
              var vm = this;
              // var url = '/api/submittask?super_vote_id='+this.voteitem.super_vote_id+'&task='+JSON.stringify(this.task);
              var url = '/api/submittask?info='+encodeURIComponent(JSON.stringify(this.voteinfo))
                +'&item='+encodeURIComponent(JSON.stringify(this.voteitem))
                +'&task='+encodeURIComponent(JSON.stringify(this.task));
              console.log('url: ' + url);
              $.getJSON(url, function(data, status) {
                vm.checklogin(data);
                console.log('/api/submittask:');
                vm.step = 'success';
              });
            }
          }
        });

        vm.stepTaskList();
      });
    </script>
  </body>
</html>
